@{
    ViewData["Title"] = "Result";
}
@model Survey

<div class="mt-5 mx-auto w-75">
    <div class="card shadow">
        <div class="card-header">
            <h1 class="text-center text-primary-emphasis">Submitted Info</h1>
        </div>
        <div class="card-body w-100 m-auto">
            <div class="mb-3 d-flex justify-content-between">
                <p class="fs-5 text-warning-emphasis">Name:</p>
                <p class="w-50 fs-5">@Model.Name</p>
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <p class="fs-5 text-warning-emphasis" >Dojo Location:</p>
                <p class="w-50 fs-5">@Model.DojoLocation</p>
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <p class="fs-5 text-warning-emphasis" >Favorite Language:</p>
                <p class="w-50 fs-5">@Model.FavoriteLanguage</p>
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <p class="fs-5 text-warning-emphasis">Comment (optional):</p>
                <p class="w-50 fs-5">@Model.Comment</p>
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <a href="/" class="btn btn-success fs-5">Go Back</a>
            </div>
        </div>
    </div>
</div>